html, body {
  width: 100vw;
  height: 100vh;
  background-color: seagreen; 
  padding: 0px;
  margin: 0px;
}

body {
    background-color: lightblue;
    display: flex;
}

@keyframes moveAcross {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 20%;
    top: 50vh;
  }
  50% {
    left: 30%;
    top: 90vh;
  }
  70% {
    left: 30%;
    top: 90vh;
  }
  75% {
    left: 60%;
    top: 50vh;
  }
  100% {
    left: 100vw;
    top: 0px;
  }

  /* from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(100%);
  } */
}

h1 {
  position: absolute; /* Required to position the element */
  font-size: 2em; /* Adjust size as desired */
  white-space: nowrap; /* Prevent wrapping for long text */
  display: inline-block;
  width: 160px;
  background-color: lightcoral;
  overflow: hidden;
  animation: moveAcross 3s linear infinite;
}
/* h1:hover {
} */
.centered-block {
  max-width: 400px;
  padding: 1em;
  /* margin-left: auto;
  margin-right: auto; */
}

.body-content {
  width: 100vw;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}